<form action="/board/update/<%=@post.id%>" method="POST">
    제목: <input type="text" name="title" value="<%=@post.title%>" /><br>
    내용: <input type="text" name="content" value="<%= @post.content %>" /><br>
    <input type="submit">
</form>

<a href="/board"> 돌아가기 </a>