Form 태그 페이지.

<form action="/board" method="POST">
    제목: <input type="text" name="title"/><br>
    내용: <input type="text" name="content"/><br>
    <input type="submit">
</form>

<a href="/board"> 돌아가기 </a>